
{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <h1 class="text-sm-center text-justify">Connexion</h1>

    <div class="container">
        <div class="row">
            <div class="well well-lg col-lg-5">
                <form action="{{ path('app_login') }}" method="post" >
                        <div class="form-group">
                            <input placeholder="Adresse e-mail ..." required name="_username" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <input placeholder="Mot de Passe ..." required name="_password" type="password" class="form-control">
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success">Connexion</button>
                        </div>
                </form>
            </div>
        </div>
    </div>

    <div class="text-sm-center text-justify">
        <h2>Si vous avez un compte, inscrivez-vous ici:</h2>
        <button><a class="nav-link btn text-success" href="{{ path('app_registration') }}">Inscription</a></button>
    </div>
{% endblock %}