<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section id="commentaires">

            <h1 class="bg-light"> Nouveau Commentaire</h1>
            {{ form_start(commentForm) }}

            {% block text %}
                {{ form_row(commentForm.content, {
                    'attr': {
                        'placeholder': "Ajouter un Commentaire public"
                    }
                }) }}
            {% endblock %}

            <button type="submit" class="btn btn-success">Comenter</button>
            {{ form_end(commentForm) }}

    </section>
</body>
</html>